@import "tailwindcss";

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.55),
        rgba(255, 255, 255, 0.55)
    ), url("/background.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    transform: scale(1.05);
    z-index: -1;
}

.ingredient.selected {
    background-color: #f97316;
    color: #ffffff;
    border-color: #ea580c;
}

.recipe.match {
    border-color: #fb6e0a;
    border-width: 2px;
    background-color: #f8dec4 ;
}